{% set init -%}
{% raw -%}
- uses: actions/setup-java@v4
  with:
    java-version: "17"
    distribution: "temurin"
- name: setup-gradle
  uses: gradle/actions/setup-gradle@v4
  with:
    gradle-home-cache-cleanup: true
    gradle-version: "8.6"
{% endraw %}
{%- endset %}

{% set lint -%}
{% raw -%}
- name: lint
  run: gradle clean spotlessCheck
{% endraw %}
{%- endset %}

{% set build -%}
{% raw -%}
- name: build and test
  run: gradle clean build
  env:
    GPR_USER: ${{ secrets.user }}
    GPR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
{% endraw %}
{%- endset %}
