{% set init -%}
{% raw -%}
- uses: actions/setup-go@v5
  with:
    go-version: ${{ inputs.goversion }}
    cache: true
    cache-dependency-path: '**/go.sum'

- name: restore golang cache
  uses: actions/cache/restore@v4
  id: cache-restore-golang
  with:
    path: ~/go
    key: ${{ runner.os }}-golang-store-cache-gomod-${{ hashFiles('**/go.sum') }}
    restore-keys: |
      ${{ runner.os }}-golang-store-cache-gomod-

- name: setup
  if: ${{ steps.cache-restore-golang.outputs.cache-hit != 'true'}}
  run: |
    curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.55.1
    curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.18.2
    go install gotest.tools/gotestsum@v1.12.0

- name: save golang cache
  if: ${{ steps.cache-restore-golang.outputs.cache-hit != 'true'}}
  id: cache-save-golang
  uses: actions/cache/save@v4
  with:
    path: |
      ~/go
    key: ${{ runner.os }}-golang-store-cache-gomod-${{ hashFiles('**/go.sum') }}
{% endraw %}
{%- endset %}

{% set lint -%}
- name: golangci-lint
  run: |
    go version
    golangci-lint -vv
{% endset %}

{% set sec_scan -%}
- name: gosec checkout
  run: |
    mkdir -p build
    gosec -fmt=json -out=build/gosec-report.json -stdout -verbose=text *.go
    tree
{% endset %}

{% set build -%}
{% raw -%}
- name: build binary
  timeout-minutes: 10
  run: |
    mkdir -p build
    CGO_ENABLE=0 go build -a -o build/${{ github.repository.split('/')[1] }} ${{ inputs.entrance }}

- name: test
  timeout-minutes: 10
  run: |
    mkdir -p build/test-results
    gotestsum --format testname \
      --junitfile build/test-results/report.xml \
      --jsonfile build/test-results/test.json \
      -- -coverprofile=build/test-results/coverage.out ./...
{%+ endraw %}
{%- endset %}
